.earnings-disclaimer {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.earnings-disclaimer h2 {
    font-size: 24px;
    font-weight: bold;
}

.earnings-disclaimer p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}


.earnings-disclaimer a:hover {
    text-decoration: none;
    color: black;
}

.earnings-disclaimer h3 {
    font-size: 20px;
    font-weight: bold;
}

/* Custom button style */
.back-button {
    background-color: var(--orange-dark);
    color: #fff;
    padding: 14px 34px;
    border-radius: 16px;
    font-weight: 500;
    transition: all 0.5s linear;
    border: 0;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 20 auto;
    max-width: 400px;

}