/* Main container with background image */
.thankyou-background {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-image: url('/public/img/whiteGeo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
    font-family: Poppins, sans-serif;
    color: black;
}

.thankyou-background img {
    width: 60%;
    border: 3px solid black;
}

.thankyou-background .warning {
    color: red;
}

.thankyou-background .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    width: 60%;
    background-color: #2e2e2e;
    border-radius: 16px;
}

.thankyou-background .container h1 {
    color: white;
}

.thankyou-background .container .text-section {
    flex: 1;
}

.thankyou-background .container .text-section h1 {
    font-size: 24px;
    font-weight: bold;
}

.thankyou-background .container .text-section p {
    font-size: 16px;
    margin-left: 0;
}

.thankyou-background .container .button-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10%;
}

.thankyou-background .container .email-button {
    text-decoration: none;
    text-align: center;
    background-color: #ff9a3c;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Max width image */
.thankyou-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .thankyou-background {
        max-width: 100%;
        padding: 10px;
    }

    .thankyou-background img {
        width: 100%;
    }

    .thankyou-background a {
        width: 100%;
    }

    .thankyou-background .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .thankyou-background .container .text-section {
        width: 90%;
    }

    .thankyou-background .container .text-section h1 {
        font-size: 20px;
        color: white
    }

    .thankyou-background .container .text-section p {
        font-size: 14px;
        margin: 10px auto;
        color: white;
    }

    .thankyou-background .container .button-section {
        width: 90%;
        margin-top: 20px;
    }

    .thankyou-background .container .email-button {
        width: 100%;
        padding: 15px;
        font-size: 16px;
    }
}